<div class="my-form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h5>Stock</h5>
    <p-autoComplete [suggestions]="results" (completeMethod)="search($event)" field="description" name="stock"
                    id="stock" formControlName="stock">
    </p-autoComplete>

    <h5>Owner</h5>
    <p-selectButton [options]="ownerOptions" formControlName="owner" optionLabel="owner"></p-selectButton>

    <h5>Broker</h5>
    <p-selectButton [options]="brokerOptions" formControlName="broker" optionLabel="broker"></p-selectButton>

    <h5>Transaction type</h5>
    <p-selectButton [options]="transactionTypeOptions" formControlName="type" optionLabel="type"></p-selectButton>

    <h5>Argument</h5>
    <p-inputNumber class="form-control" formControlName="argument" name="argument"></p-inputNumber>

    <h5>Price</h5>
    <p-inputNumber class="form-control" formControlName="price" name="price"></p-inputNumber>

    <h5>Transaction date</h5>
    <p-calendar formControlName="date" [showIcon]="true" name="date"></p-calendar>

    <div class="p-field my-submit-button">
      <p-button type="submit" [ngClass]="form.valid? 'green':'red'" [disabled]="!form.valid" label="Submit"></p-button>
    </div>

  </form>
</div>


