<div class="diagram-details-container">
  <app-diagram width="500px" height="500px" [chartData]="chartData" [showLegend]="true" [chartType]="chartType" [displayDataLabels]="displayDataLabels"></app-diagram>
  <div class="asset-type-filter-container">
    <div class="field-checkbox">
      <p-checkbox value="reit" [(ngModel)]="selectedTypes" inputId="reit" (onChange)="refreshPieChart()"></p-checkbox>
      <label for="reit">REIT</label>
    </div>

    <div class="field-checkbox">
      <p-checkbox value="stock" [(ngModel)]="selectedTypes" inputId="stock"
                  (onChange)="refreshPieChart()"></p-checkbox>
      <label for="stock">Stocks</label>
    </div>

    <div class="field-checkbox">
      <p-checkbox value="bond" [(ngModel)]="selectedTypes" inputId="bond" (onChange)="refreshPieChart()"></p-checkbox>
      <label for="bond">Bonds</label>
    </div>

  </div>

  <div class="groupByTypeContainer">
    <p-inputSwitch [(ngModel)]="displayGroupedByType" inputId="displayGroupedByType"
                   (onChange)="toggleDisplayGroupedByType()"></p-inputSwitch>
    <label for="displayGroupedByType" class="groupByTypeLabel">Group by type</label>
    <p-inputSwitch [(ngModel)]="displayGroupedByEtf" inputId="displayGroupedByEtf"
                   (onChange)="toggleDisplayGroupedByEtf()"></p-inputSwitch>
    <label for="displayGroupedByEtf" class="groupByTypeLabel">Group by ETF</label>
  </div>

  <p-dropdown [options]="chartTypes" [(ngModel)]="chartType" optionLabel="name" optionValue="code" (onChange)="refreshPieChart()"></p-dropdown>
</div>


