.diagram-details-container {
  padding: 5px;
}

.asset-type-filter-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.groupByTypeContainer {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.groupByTypeLabel {
  margin: 5%;
}

