<div class="card">
  <h2 class="header-container">
    <span *ngIf="!showPortfolioDetailsLink">{{owner}}</span>
    <a *ngIf="showPortfolioDetailsLink" routerLink="/portfolio-details" [queryParams]="{owner: owner}">{{owner}}</a>
    <a *ngIf="originalData" routerLink="/diagram-details" [state]="{originalData: originalData}" class="diagram-details-link">
      <i class="pi pi-window-maximize"></i>
    </a>
  </h2>

  <p-progressSpinner *ngIf="!chartData"></p-progressSpinner>

  <app-diagram [chartData]="chartData" chartType="doughnut" [displayDataLabels]="false"></app-diagram>

  <p-card class="my-card">
    <p-progressSpinner *ngIf="!currentPortfolioValue"></p-progressSpinner>
    <div *ngIf="currentPortfolioValue" class="statistics-container">
      <div class="portfolio-value-container">
        <p-card [style]="{'background': '#ffa726'}">{{currentPortfolioValue | currency: 'EUR'}}</p-card>
      </div>
      <div class="profit-investments-container">
        <div class="container-with-padding margin-bottom"
             [ngClass]="totalProfit > 0? 'card-green' : 'card-red'">{{totalProfit | currency: 'EUR'}}</div>
        <div class="container-with-padding card-blue">{{portfolio?.investments | currency: 'EUR'}}</div>
      </div>
    </div>
  </p-card>


</div>
