.column-desktop {
  visibility: visible;
}

@media (max-width: 530px){
  .column-desktop {
    display:none;
  }
}

.my-logo {
  vertical-align: middle;
  width: 32px;
  margin-right: 5px;
}

.table-caption-container {
  display: flex;
  justify-content: space-between;
}

.checkbox-caption {
  margin-left: 5px;
}
