<p-table [value]="positions" [paginator]="true" [lazy]="true" (onLazyLoad)="onPageChanged($event)" [rows]="pageSize" [totalRecords]="200" styleClass="p-datatable-striped" [responsive]="true"
         responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Stk</th>
      <th>Einstandswert</th>
      <th>Marktwert</th>
      <th>Gewinn</th>
      <th>Dividende</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-position>
    <tr>
      <td><img src="{{logoMap.get(position.usSymbol)}}" class="my-logo">{{position.name}}</td>
      <td>{{position.stockCount}}</td>
      <td>
        <a routerLink="/transactions" [queryParams]="{owner: owner, symbol: position.symbol}">{{position.buyValue | currency:'EUR'}}</a>
      </td>
      <td>{{position.currentValue | currency: 'EUR'}}
      </td>
      <td>
      <p-badge [value]="this.getStringValue(position.profit | percent)" [severity]="position.profit > 0? 'success':'warning'"></p-badge>
      </td>
      <td>
        <a *ngIf="position.dividendsTotalAmountPaid > 0" routerLink="/dividend-list"
           [queryParams]="{owner: owner, symbol: position.symbol, usSymbol: position.usSymbol}">{{position.dividendsTotalAmountPaid | currency: 'EUR'}}</a>
        <span
          *ngIf="position.dividendsTotalAmountPaid === 0">{{position.dividendsTotalAmountPaid | currency: 'EUR'}}</span>
      </td>
    </tr>
  </ng-template>

</p-table>
