<p-table [value]="positions" [paginator]="true" [lazy]="true" (onLazyLoad)="onPageChanged($event)" [rows]="pageSize"
         [totalRecords]="totalPositions" styleClass="p-datatable-striped" [responsive]="true" [loading]="loading"
         responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Gewinn</th>
      <th>Marktwert</th>
      <th>Einstandswert</th>
      <th>Stk</th>
      <th>Dividende</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-position>
    <tr>
      <td><img src="{{logoMap.get(position.usSymbol)}}" class="my-logo">{{position.name}}</td>
      <td>
        <p-badge [value]="position.stockCount> 0? this.getStringValue(position.profit | percent) : this.getStringValue(position.profit | currency: 'EUR')"
                 [severity]="position.profit > 0? 'success':'warning'"></p-badge>
      </td>
      <td *ngIf="position.stockCount > 0">{{position.currentValue | currency: 'EUR'}}</td>
      <td *ngIf="position.stockCount == 0">
        <a routerLink="/sold-positions" [queryParams]="{owner: owner}">See sold positions</a>
      </td>
      <td>
        <a routerLink="/transactions"
           [queryParams]="{owner: owner, symbol: position.symbol}">{{position.stockCount > 0? (position.buyValue | currency:'EUR') : 'See transactions'}}</a>
      </td>
      <td>{{position.stockCount}}</td>
      <td>
        <a *ngIf="position.dividendsTotalAmountPaid > 0" routerLink="/dividend-list"
           [queryParams]="{owner: owner, symbol: position.symbol, usSymbol: position.usSymbol}">{{position.dividendsTotalAmountPaid | currency: 'EUR'}}</a>
        <span
          *ngIf="position.dividendsTotalAmountPaid === 0">{{position.dividendsTotalAmountPaid | currency: 'EUR'}}</span>
      </td>
    </tr>
  </ng-template>

</p-table>



