<a id="top"></a>
<div class="header">
  <div>
    <a class="pi pi-calendar icon" routerLink="/upcoming-dividends"></a>
  </div>
  <div>
    <a class="pi pi-plus-circle icon" routerLink="#"></a>
  </div>
  <div>
    <a class="material-symbols-outlined icon" routerLink="/expenses">
      receipt_long
    </a>
  </div>
  <div>
    <a class="pi pi-chart-line icon" routerLink="/investments"></a>
  </div>
  <div>
    <a class="pi pi-palette icon" (click)="onSchemeChange()"></a>
  </div>
</div>
<div class="top-level-container">
  <div class="my-diagrams-container">
    <app-portfolio class="portfolio-container" [portfolio]="overallPortfolio" [owner]="'Overall'"></app-portfolio>
    <app-portfolio class="portfolio-container" [portfolio]="andreiPortfolio" [owner]="'Andrei'"></app-portfolio>
    <app-portfolio class="portfolio-container" [portfolio]="olgaPortfolio" [owner]="'Olga'"></app-portfolio>
    <app-portfolio class="portfolio-container" [portfolio]="sergeiPortfolio" [owner]="'Sergei'"></app-portfolio>
  </div>
</div>

<div class="header footer">
  <a class="pi pi-angle-double-up icon" href="#top"></a>
</div>




