/* You can add global styles to this file, and also import other style files */
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #bbff00;
  }
  40% {
    stroke: #ff0088;
  }
  66% {
    stroke: #019fad;
  }
  80%,
  90% {
    stroke: #ff8800;
  }
}

body.bold-scheme, body.bold-scheme .p-component {
  font-family: 'Prompt', sans-serif;
}

body.bold-scheme .header {
  background: rgba(187,255,0,0.99)
}

body.bold-scheme .icon {
  color: #ff0088;
}

a {
  text-decoration: none;
}
